<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899824677417-miludua8gc82tp1elcc53oqf2td4l3rh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899824677417-miludua8gc82tp1elcc53oqf2td4l3rh</string>
	<key>API_KEY</key>
	<string>AIzaSyAHpQ7Xa0QaXxN5XhN77y7HzCq9SC8uX7k</string>
	<key>GCM_SENDER_ID</key>
	<string>899824677417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.minikin.firebase.alpha</string>
	<key>PROJECT_ID</key>
	<string>flutter-template-7b07a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-template-7b07a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899824677417:ios:72ea335f3c6ab1d58fa238</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-template-7b07a.firebaseio.com</string>
</dict>
</plist>